.right-panel {
  padding: 10px;
  background-color: #eee;
  width: 250px;
  overflow-y: auto;
  height: 100vh;
  transition: width 0.3s;
  border: 2px solid #555;
  box-sizing: border-box;
}

.right-panel.collapsed {
  width: 60px;
}

.collapse-button {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #555;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}

.dark-mode .aside-container {
  background-color: #34495e;
  color: #ecf0f1;
  border-color: #aaa;
}

.dark-mode .aside-container .dndblock {
  background-color: #1F2129;
  color: #ecf0f1;
  border-color: #bbb;
}

.dark-mode .right-panel {
  background-color: #34495e;
  color: #ecf0f1;
  border-color: #aaa;
}