/* src/Components/CustomBlock/blocks/DummyBlock.css */

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(44, 188, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
  }
  
  .dummy-replaceable {
    animation: pulse 2s infinite;
  }
  
  .dummy-fixed {
    border: 2px solid rgba(239, 98, 175);
  }
  
  @keyframes flash {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: rgb(57, 244, 91);
    }
    100% {
      background-color: transparent;
    }
  }

  .replacement-success {
    animation: flash 1s ease-out forwards;
  }