/* src/Components/Sidebar/Sidebar.css */

aside {
  padding: 10px;
  background-color: #eee;
  width: 220px;
  box-sizing: border-box;
}

aside h3 {
  text-align: center;
}

.dndnode {
  margin: 10px 0;
  padding: 10px;
  cursor: grab;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  border: 2px solid #555;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.dndnode span {
  margin-left: 8px;
}