/* src/Components/BlockPalette/BlockPalette.css */

.aside-container {
  position: relative;
  padding: 10px;
  width: 220px;
  box-sizing: border-box;
  height: 100vh; 
  transition: width 0.3s;
  border: 2px solid #555;
  overflow-y: auto;
}

.collapsed {
  width: 40px;
}

.dndblock {
  margin: 10px 0;
  padding: 10px;
  cursor: grab;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  border: 2px solid #555;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.dndblock span {
  margin-left: 8px;
}

aside h3 {
  text-align: center;
}

.block-container input[type="text"] {
  font-size: 16px;
}