/* src/Components/FlowchartCanvas.css */

.flowchart-wrapper {
    display: flex;
    height: 100vh;
  }
  
  .block-palette {
    width: 220px;
    /* background-color: #eee; */
    padding: 10px;
    overflow-y: auto;
  }
  
  .reactflow-wrapper {
    flex: 1;
    position: relative;
  }
  
