.react-flow__edge-path {
  transition: stroke 0.4s ease, stroke-width 0.4s ease;
  stroke: #22ff77; /* default color if style.stroke not set */
}

.react-flow__edge-path.selected,
.react-flow__edge-path.hovered {
  stroke: #22ff77 !important;
  stroke-width: 10 !important;
}

.react-flow__edge-path:hover {
  cursor: pointer;
}

.react-flow__edge-path.executing {
  /* animation: edgePulse 0.4s ease-in-out infinite; */
}

@keyframes edgePulse {
  0% {
    stroke-width: 3;
    opacity: 1;
  }
  50% {
    stroke-width: 5;
    opacity: 0.4;
  }
  100% {
    stroke-width: 3;
    opacity: 1;
  }
}