/* src/Components/Console/Console.css */

.console-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.console-header h3 {
  margin: 0;
  font-size: 16px;
  color: black;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.console-toggle-button {
  cursor: pointer;
  background-color: #9896f1;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.code-preview {
  border: 1px solid #444;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.code-preview .console-pre,
.console .console-pre {
  border: 1px solid #444;
  border-radius: 4px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 1.4;
  overflow-y: auto;
  margin: 0;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  height: 150px;
  opacity: 1;
  padding: 10px;
  /* background-color: #eee; */
  color: black;
}

.code-preview.minimized .console-pre,
.console.minimized .console-pre {
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.error-line {
  color: rgb(255, 44, 44);
  font-weight: bold;
}

.console {
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.console-toggle-button {
  cursor: pointer;
  background-color: #9896f1;
  color: #fff;
  border: 1px solid #444;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
}

.console-toggle-button:hover {
  background-color: #7a78d1;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.console-toggle-button:active {
  transform: scale(0.98);
}