/* PaletteOverlay.css */

.palette-overlay {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
  max-height: calc(100vh - 30vh);
  border: 1px solid #ccc;
  overflow-y: auto;
}

.close-button {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.palette-overlay .aside-container {
  width: 250px !important;
  max-width: 250px !important;
  transition: width var(--transition-time) ease;
}

.palette-overlay .aside-container.collapsed {
  width: 100px !important;
  max-width: 100px !important;
}

.dark-mode .palette-overlay {
  background-color: rgba(31, 34, 38, 0.9);
  border-color: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.dark-mode .palette-overlay .close-button {
  color: #ebebeb;
}

.dark-mode .palette-overlay .aside-container {
  background-color: var(--aside-bg);
  border-color: var(--aside-border);
}

.dark-mode .palette-overlay .aside-container .collapse-button {
  color: var(--text-main);
}

.dark-mode .palette-overlay .dndblock {
  background-color: var(--block-bg);
  border-color: var(--block-border);
}
.dark-mode .palette-overlay .dndblock span {
  color: var(--text-main);
}

.palette-overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  cursor: move;
}