/* src/Components/CustomEdge/CustomEdge.css */

.react-flow__edge-path.selected {
  stroke: #3267f8 !important;
  stroke-width: 4 !important;
  /* Create a dashed effect */
  stroke-dasharray: 6 6;
  /* Animate the dash offset */
  animation: edgeDash 1s linear infinite;
}

@keyframes edgeDash {
  from {
    stroke-dashoffset: 12;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.react-flow__edge-path.hovered {
  stroke: #507bf2 !important;
  stroke-width: 4 !important;
  cursor: pointer;
}

.react-flow__edge-path:hover {
  cursor: pointer;
}

.react-flow__edge-path.executing {
  animation: edgePulse 0.4s ease-in-out infinite;
}

@keyframes edgePulse {
  0% {
    stroke-width: 3;
    opacity: 1;
  }
  50% {
    stroke-width: 5;
    opacity: 0.4;
  }
  100% {
    stroke-width: 3;
    opacity: 1;
  }
}