/* src/Components/CustomEdge/CustomEdge.css */

.react-flow__edge-path {
  transition: stroke 0.4s ease, stroke-width 0.4s ease;
  z-index: 1000;
  stroke: #e0e0e0;
}

.react-flow__edge-path.selected {
  stroke: #3267f8 !important;
  stroke-width: 4 !important;
  stroke-dasharray: 6 6;
  animation: edgeDash 1s linear infinite;
}

.react-flow__edge-path.executing {
  animation: edgePulse 0.4s ease-in-out infinite;
}

.dark-mode .react-flow__edge-path {
  transition: stroke 0.4s ease, stroke-width 0.4s ease;
  z-index: 1000;
}

.dark-mode .react-flow__edge-path.selected {
  stroke-dasharray: 6 6;
  animation: edgeDash 1s linear infinite;
}

.dark-mode .react-flow__edge-path.executing {
  animation: edgePulse 0.4s ease-in-out infinite;
}

@keyframes edgeDash {
  from {
    stroke-dashoffset: 12;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.edge-label {
  fill: #777;
}

.edge-label-loop {
  fill: #c933ff;
}

.edge-label-true {
  fill: #28a745;
}

.edge-label-false {
  fill: #dc3545;
}


@keyframes edgePulse {
  0% {
    stroke-width: 3;
    opacity: 1;
  }
  50% {
    stroke-width: 5;
    opacity: 0.4;
  }
  100% {
    stroke-width: 3;
    opacity: 1;
  }
}